body{
  text-align:center;
    background-color: #FFF47D;
}
p{
  font-size:20px;
}
#hobby{
  font-family:sans-serif;
}
#title{
  font-family:sans-serif;
}
.menu{
    margin-left: 50%;
    font-size: 25px;
    padding-right: 25px;
        float: left;
}
.link{
   background-color: #FFF47D;
    padding-left: 10px;
    padding-right: 10px;
   padding-top: 5px;
    padding-bottom: 5px;
font-family: 'Montserrat', sans-serif;
} 
.link:hover{
    background-color:dodgerblue;
}
#robot{
    margin-top: 80px;
    width:30%;
    margin-right: 10px;
    border-radius: 50px;
}
h2{
    margin-bottom: 100px;
}
#about{
    background-color: #FFBF86;
}
#Inspiration{
    background-color: #F6A9A9;
}
#Contact{
    background-color: #C2F784;
}
img:hover{
    transform: scale(0.9)
}
   